<div class="statistics__all loader__container">
  <div class="loader" *ngIf="!statistics.length">
    <app-loader [message]="'loading statistics'"></app-loader>
  </div>
  <div class="header loader__other" [class.nightmode]="nightmode">
    <div class="download">
      <a routerLink="/home"><button>homepage</button></a>
    </div>
    <h2 class="heading">SUMMARY STATISTICS</h2>
    <div class="download"><button>download report</button></div>
    <div class="download">
      <button (click)="toggleNightMode()">
        {{ nightmode ? "lightmode" : "darkmode" }}
      </button>
    </div>
  </div>
  <div class="statistics loader__other" [class.nightmode]="nightmode">
    <div
      [class.nightmode]="nightmode"
      class="container"
      *ngFor="let x of statistics"
    >
      <ul class="item">
        <li class="item__content">
          <div [class.nightmode]="nightmode">
            <h4>medicine</h4>
            <p>{{ getMedicineName(x.commodity) }}</p>
          </div>
        </li>
        <li class="item__content">
          <div>
            <h4>unit</h4>
            <p>{{ getMaxUnit(x.commodity) || "unit" }}</p>
          </div>
        </li>
        <li class="item__content">
          <div>
            <h4>dispensed</h4>
            <p>{{ reduceQuantities(x.commodity, x.dispensed) }}</p>
          </div>
        </li>
        <li class="item__content">
          <div>
            <h4>received</h4>
            <p>{{ reduceQuantities(x.commodity, x.received) }}</p>
          </div>
        </li>
        <li class="item__content">
          <div>
            <h4>available</h4>
            <p>
              {{
                x.beginning -
                  reduceQuantities(x.commodity, x.dispensed) +
                  reduceQuantities(x.commodity, x.received)
              }}
            </p>
          </div>
        </li>
        <li class="item__content">
          <div>
            <h4>stock-level</h4>
            <p>{{ getStockLevel(x) }} months</p>
          </div>
        </li>
        <li class="item__content">
          <div>
            <h4>action</h4>

            <p *ngIf="getStockLevel(x) >= 4" [class.green]="true">
              sufficient stock
            </p>
            <p
              *ngIf="getStockLevel(x) <= 2 && getStockLevel(x) > 1"
              [class.yellow]="true"
            >
              create order
            </p>
            <p
              *ngIf="getStockLevel(x) <= 1 && getStockLevel(x) > 0"
              [class.lightred]="true"
            >
              critical inventory
            </p>
            <p *ngIf="getStockLevel(x) <= 0" [class.red]="true">
              out of stock. purchase
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
