.statistics__all {
  height: 100%;
}
.statistics {
  height: 90%;
  border: 1px solid black;
  overflow-y: scroll;
}
.statistics::-webkit-scrollbar {
  display: none;
}
.header {
  height: 10%;
  display: flex;
}
.header .heading {
  flex: 1 1 40%;
  text-align: center;
}
.download {
  flex: 0 1 10%;
}

button {
  display: inline-block;
  width: 100%;
}
.container {
  margin: 0.5rem auto;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px;
}
.item {
  display: flex;
  justify-content: space-evenly;
}
.item li:first-child {
  flex: 0 0 20%;
}
.item li:not(:first-child) {
  flex: 0 0 calc(1% * 80 / 6);
}
.btn {
  padding: 10px;
}
.edit-button,
.delete-button {
  display: inline-block;
  width: 6vw;
  border-radius: 5px;
}
.edit-button {
  background-color: lightyellow;
}

.delete-button {
  background-color: red;
  color: white;
}

/* code for edit */
/* input,
select,
button {
  display: block;
  width: 80%;
  height: 2rem;
  font-size: 1rem;
}
.formgroup {
  width: 50%;
  margin: 0.5rem auto;
}
.submit {
  margin-top: 1.5rem;
} */
.nightmode {
  background-color: black;
  color: lightgray;
}
.green {
  background-color: rgb(121, 228, 169);
  color: white;
}
.red {
  background-color: red;
  color: white;
}
.lightred {
  background-color: rgb(236, 157, 157);
  color: white;
}
.yellow {
  color: white;
  background-color: yellow;
}
