<div class="header">
  <h2 class="heading">SUMMARY STATISTICS</h2>
  <div class="download"><button>download report</button></div>
</div>
<div class="statistics">
  <div class="container">
    <ul class="item">
      <li class="item__content">
        <div>
          <h4>medicine</h4>
          <p>paracetamol</p>
        </div>
      </li>
      <li>
        <div>
          <h4>unit</h4>
          <p>strip</p>
        </div>
      </li>
      <li>
        <div>
          <h4>dispensed</h4>
          <p>3000</p>
        </div>
      </li>
      <li>
        <div>
          <h4>received</h4>
          <p>20000</p>
        </div>
      </li>
      <li>
        <div>
          <h4>available</h4>
          <p>10000</p>
        </div>
      </li>
      <li>
        <div>
          <h4>stock-level</h4>
          <p>5months</p>
        </div>
      </li>
      <li>
        <div>
          <h4>action</h4>
          <p>sufficient stock</p>
        </div>
      </li>
    </ul>
  </div>
</div>
