<div class="heading">
  <h3 class="heading__content">{{ title | uppercase }}</h3>
  <div class="formgroup">
    <label for="">{{ title | lowercase }}:</label>
    <input type="file" #x />
  </div>
  <div class="submit">
    <button (click)="add(x)" class="submit__btn">
      IMPORT {{ title | uppercase }}
    </button>
  </div>
</div>
<div class="collapse" *ngIf="items.length">
  <button (click)="collapse()">
    {{ collapsed ? "SHOW LESS" : "COLLAPSE" }}
  </button>
</div>
<div class="result" *ngIf="items.length && collapsed">
  <ul class="result__item" *ngFor="let item of items">
    <li class="name">
      <div>
        <h4>item</h4>
        <p>{{ item.name }}</p>
      </div>
    </li>
    <li>
      <div class="stat">
        <h4>status</h4>
        <p class="status">added</p>
      </div>
    </li>
  </ul>
</div>
