.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 59, 53, 0.5);
}
.message {
  flex: 0 0 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}
p {
  flex: 0 0 100%;
}
