<div class="heading">
  <h3>{{ title }}</h3>
</div>

<div class="formgroup">
  <label for="name">name :</label>
  <input list="values" name="value" #v autocomplete="off" />
  <datalist name="unit" id="values">
    <option *ngFor="let value of resources" value="{{ value.name }}">
      {{ value.name }}
    </option>
  </datalist>
</div>

<div class="formgroup submit">
  <button (click)="submit({ name: v.value }); v.value = ''">
    {{ submit_title || "save" | uppercase }}
  </button>
</div>
<!-- <div class="message">
  <h5>notifications</h5>
  <ul class="formgroup">
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
  </ul>
</div> -->
