input,
select,
button {
  display: block;
  width: 80%;
  height: 2rem;
  font-size: 1rem;
}
.formgroup {
  width: 50%;
  margin: 0.5rem auto;
}
.submit {
  margin-top: 1.5rem;
}
.heading {
  text-align: center;
}
