<div class="router__container">
  <nav class="secondary__navigation">
    <ul class="navigation__list">
      <li class="navigation__list__item">
        <a routerLink="/outlet/dispense">dispense</a>
      </li>
      <li class="navigation__list__item">
        <a routerLink="/outlet/issue">issue</a>
      </li>
      <!-- <li class="navigation__list__item">
        <a>lorem</a>
      </li>
      <li class="navigation__list__item">
        <a>lorem</a>
      </li> -->
    </ul>
  </nav>
  <div class="router__outlet">
    <router-outlet></router-outlet>
  </div>
</div>
