input,
select,
button {
  display: block;
  width: 80%;
  height: 2rem;
  font-size: 1rem;
}
.formgroup {
  width: 50%;
  margin: 0.5rem auto;
}
.submit {
  margin-top: 1.5rem;
}
fieldset input,
fieldset select {
  display: inline;
  width: auto;
}

/* styles for the general layout */
.navigation {
  display: flex;
  justify-content: space-evenly;
}
.navigation__item {
  flex: 1 0 auto;
  margin: 0.5rem 0;
}
button {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
.outlet__navigation {
  height: 6%;
  background-color: lightgrey;
}
.outlet__content {
  height: 94%;
  overflow-y: scroll;
}
.outlet__content::-webkit-scrollbar {
  display: none;
}
