<div class="formgroup">
  <label for="client">client :</label>
  <input
    type="text"
    id="client"
    #client
    [(ngModel)]="prescription.client"
    autocomplete="off"
  />
</div>
<div class="formgroup">
  <label for="outlet">outlet :</label>
  <input list="outlets" id="outlet" #outlet autocomplete="off" />
  <datalist name="outlets" id="outlets">
    <option *ngFor="let hostItem of clients" [value]="hostItem.name">
      {{ hostItem.name }}
    </option>
  </datalist>
</div>
<div class="formgroup">
  <label for="commodity">medicine :</label>
  <input
    list="commodities"
    id="commodity"
    #commodity
    autocomplete="off"
    (input)="getMedUnits(commodity.value)"
  />
  <datalist name="commodities" id="commodities">
    <option
      *ngFor="let commodityItem of commodities"
      [value]="medicineService.getMedicineName(commodityItem.name)"
    >
      {{ getMedicineName(commodityItem.name) }}
    </option>
  </datalist>
</div>
<div class="formgroup">
  <label for="unit">unit :</label>
  <select name="unit" id="unit" #unit>
    <option *ngFor="let unitItem of xunits" value="{{ unitItem }}">
      {{ unitItem }}
    </option>
  </select>
</div>
<div class="formgroup">
  <label for="quantity">quantity :</label>
  <input type="number" id="quantity" #quantity />
</div>
<div class="formgroup submit">
  <button
    (click)="
      add({
        outlet: outlet.value,
        inspected: false,
        commodity: commodity.value,
        unit: unit.value,
        requested: toNumber(quantity.value),
        issued: toNumber(quantity.value)
      });
      commodity.value = '';
      unit.value = '';
      quantity.value = ''
    "
  >
    ADD
  </button>
</div>
