<div class="download">
  <div class="csv"><button (click)="downloadCSV()">DOWNLOAD CSV</button></div>
  <div class="pdf"><button (click)="downloadPDF()">DOWNLOAD PDF</button></div>
</div>
<div class="report">
  <div class="report__heading">
    <h1>{{ title | uppercase }} {{ date | uppercase }}</h1>
  </div>
  <div class="report__content">
    <div class="report__item">
      <ul class="list">
        <li class="list__item">
          <div class="list__item__content">
            <h5>item</h5>
            <p>paracetamol</p>
          </div>
        </li>

        <li class="list__item">
          <div class="list__item__content">
            <h5>unit</h5>
            <p>lorem</p>
          </div>
        </li>

        <li class="list__item">
          <div class="list__item__content">
            <h5>dispensed</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>received</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>available</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>6-month level</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>stock-level</h5>
            <p>lorem</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="report__item">
      <ul class="list">
        <li class="list__item">
          <div class="list__item__content">
            <h5>item</h5>
            <p>paracetamol</p>
          </div>
        </li>

        <li class="list__item">
          <div class="list__item__content">
            <h5>unit</h5>
            <p>lorem</p>
          </div>
        </li>

        <li class="list__item">
          <div class="list__item__content">
            <h5>dispensed</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>received</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>available</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>6-month level</h5>
            <p>lorem</p>
          </div>
        </li>
        <li class="list__item">
          <div class="list__item__content">
            <h5>stock-level</h5>
            <p>lorem</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
