<div class="statistic">
  <h3 class="statistic__heading">dispensed stats</h3>
  <ul class="statistic__list">
    <li>
      <app-homepage-statistic
        [title]="'total records'"
        [quantity]="300"
      ></app-homepage-statistic>
    </li>
    <li>
      <app-homepage-statistic
        [title]="'mainclinic records'"
        [quantity]="100"
      ></app-homepage-statistic>
    </li>
    <li>
      <app-homepage-statistic
        [title]="'powerhouse records'"
        [quantity]="300"
      ></app-homepage-statistic>
    </li>
  </ul>
</div>
