.admin {
  height: 100%;
  padding: 1rem;
  border: 1px solid lightgray;
  overflow-y: scroll;
}
.admin::-webkit-scrollbar {
  display: none;
}
.admin__form {
  border: 1px solid lightgray;
  padding: 5px;
  margin: 1rem auto;
  width: 50%;
}
label,
button,
input {
  display: block;
}
input,
label,
button {
  margin: 0.5rem auto;
  width: 90%;
}
