<div class="admin loader__container">
  <div class="loader" *ngIf="loading">
    <app-loader [message]="message"></app-loader>
  </div>
  <div class="admin__form loader__other">
    <app-admin-form
      [title]="'medicines'"
      [items]="medicines"
      (create)="createMedicines($event)"
    ></app-admin-form>
  </div>
  <div class="admin__form loader__other">
    <app-admin-form
      [title]="'units'"
      [items]="units"
      (create)="createUnits($event)"
    ></app-admin-form>
  </div>
  <div class="admin__form loader__other">
    <app-admin-form
      [title]="'stores'"
      [items]="stores"
      (create)="createStores($event)"
    ></app-admin-form>
  </div>
  <div class="admin__form loader__other">
    <app-admin-form
      [title]="'clients'"
      [items]="clients"
      (create)="createClients($event)"
    ></app-admin-form>
  </div>
  <div class="admin__form loader__other">
    <app-admin-formx
      [title]="'stock'"
      [items]="inventories"
      (create)="createBegginingStock($event)"
    ></app-admin-formx>
  </div>
  <div class="admin__form loader__other">
    <app-inactivate-commodity
      [(loading)]="loading"
      [(message)]="message"
    ></app-inactivate-commodity>
  </div>
  <div
    class="admin__form loader__other"
    *ngIf="
      xclients.length &&
      xcommodities.length &&
      xunits.length &&
      xmedicines.length &&
      xstores.length
    "
  >
    <app-admin-dispense
      [title]="'dispense'"
      (create)="dispense($event)"
      [prescription]="prescription"
    ></app-admin-dispense>
  </div>
</div>
<!-- *ngIf="
      xclients.length &&
      xcommodities.length &&
      xunits.length &&
      xmedicines.length &&
      xstores.length
    " -->
