<div class="formgroup">
  <label for="client">client :</label>
  <input list="clients" id="client" #client autocomplete="off" />
  <datalist name="commodity" id="clients">
    <option *ngFor="let clientItem of xclients" [value]="clientItem.name">
      {{ clientItem.name }}
    </option>
  </datalist>
</div>
<div class="formgroup">
  <label for="outlet">outlet :</label>
  <input
    type="text"
    id="outlet"
    #outletx
    [(ngModel)]="outlet"
    autocomplete="off"
  />
  <!-- <select name="outlet" id="outlet" #host>
    <option *ngFor="let outletItem of outlets" value="{{ outletItem.name }}">
      {{ outletItem.name }}
    </option>
  </select> -->
</div>
<div class="formgroup">
  <label for="commodity">medicine :</label>
  <input
    list="commodities"
    id="commodity"
    #commodity
    autocomplete="off"
    (input)="getUnits(commodity.value)"
  />
  <datalist name="commodity" id="commodities">
    <option
      *ngFor="let commodityItem of xcommodities"
      [value]="medicineService.getMedicineName(commodityItem.name)"
    >
      {{ medicineService.getMedicineName(commodityItem.name) }}
    </option>
  </datalist>
</div>
<div class="formgroup">
  <label for="unit">unit :</label>
  <select name="unit" id="unit" #unit>
    <option *ngFor="let unitItem of units" value="{{ unitItem }}">
      {{ unitItem }}
    </option>
  </select>
</div>
<div class="formgroup">
  <label for="quantity">quantity :</label>
  <input type="number" id="quantity" #quantity />
</div>
<div class="formgroup submit">
  <button
    (click)="
      add({
        client: client.value,
        inspected: false,
        commodity: commodity.value,
        unit: unit.value,
        requested: toNumber(quantity.value),
        issued: toNumber(quantity.value)
      });
      commodity.value = '';
      unit.value = '';
      quantity.value = ''
    "
  >
    ADD
  </button>
</div>
