<div class="home loader__container">
  <div
    class="loader"
    *ngIf="!dispensed.length && !received.length && !requested.length"
  >
    <app-loader [message]="message"></app-loader>
  </div>
  <div class="other loader__other">
    <div class="navigation">
      <div class="navdrop" *ngFor="let item of navigation">
        <app-dropdown
          [dropdown_title]="item.dropdown_title"
          [dropdown_list]="item.dropdown_list"
        ></app-dropdown>
      </div>
    </div>
    <div class="content">
      <div class="statistic">
        <h3 class="statistic__heading">dispensed stats</h3>
        <ul class="statistic__list">
          <li>
            <app-homepage-statistic
              [title]="'total records'"
              [quantity]="getSum(dispensed)"
            ></app-homepage-statistic>
          </li>
          <li *ngFor="let item of dispensed">
            <app-homepage-statistic
              [title]="item.store"
              [quantity]="item.records"
            ></app-homepage-statistic>
          </li>
        </ul>
      </div>
      <div class="statistic">
        <h3 class="statistic__heading">requested stats</h3>
        <ul class="statistic__list">
          <li>
            <app-homepage-statistic
              [title]="'total records'"
              [quantity]="getSum(dispensed)"
            ></app-homepage-statistic>
          </li>
          <li *ngFor="let item of requested">
            <app-homepage-statistic
              [title]="item.store"
              [quantity]="item.records"
            ></app-homepage-statistic>
          </li>
        </ul>
      </div>
      <div class="statistic">
        <h3 class="statistic__heading">received stats</h3>
        <ul class="statistic__list">
          <li>
            <app-homepage-statistic
              [title]="'total records'"
              [quantity]="getSum(dispensed)"
            ></app-homepage-statistic>
          </li>
          <li *ngFor="let item of received">
            <app-homepage-statistic
              [title]="item.store"
              [quantity]="item.records"
            ></app-homepage-statistic>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<a
  *ngIf="link"
  id="link"
  [routerLink]="link"
  #adminLink
  (click)="redirect(adminLink)()"
  [ngStyle]="{ display: 'none' }"
></a>
