button {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
.outlet__navigation {
  height: 6%;
  background-color: lightgrey;
}
.outlet__content {
  height: 94%;
  overflow-y: scroll;
}
.outlet__content::-webkit-scrollbar {
  display: none;
}
