label,
button,
input {
  display: block;
}
input,
.check,
label,
button {
  margin: 0.5rem auto;
  height: 5vh;
}
input,
.check,
label {
  width: 90%;
}
button {
  flex: 0 0 20%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.submit {
  display: flex;
  justify-content: center;
}
.active {
  background-color: green;
}
.inactive {
  background-color: red;
}
.result,
.collapse {
  border: 1px solid lightgray;
  width: 90%;
  margin: 0.5rem auto;
  padding: 5px;
  border-radius: 5px;
}
.result {
  max-height: 40vh;
  overflow-y: scroll;
}
.result::-webkit-scrollbar {
  display: none;
}
.collapse button {
  margin-right: 0;
  width: auto;
  background-color: black;
  color: white;
}
.result__item {
  border: 1px solid lightblue;
  display: flex;
  margin: 0.1rem 0;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}
.name {
  flex: 0 0 60%;
}
.stat {
  flex: 0 0 40%;
}
.status {
  background-color: rgb(245, 5, 5);
}
#inactivate {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.check label {
  display: inline-block;
}
