<div class="heading">
  <h3 class="heading__content">{{ title | uppercase }}</h3>
  <div class="formgroup">
    <label for="">select commodity:</label>
    <input list="commodities" [(ngModel)]="x" />
    <datalist id="commodities" *ngFor="let item of commodities">
      <option value="{{ getMedicineName(item.name) }}">
        {{ getMedicineName(item.name) }}
      </option>
    </datalist>
  </div>
  <!-- <div class="formgroup">
    <div class="check">
      <input type="checkbox" name="inactivate" id="inactivate" #inactive />
      <label for="inactivate">inactivate:</label>
    </div>
  </div> -->
  <div class="submit">
    <button (click)="activate()" class="submit__btn active">ACTIVATE</button>
    <button (click)="inactivate()" class="submit__btn inactive">
      INACTIVATE
    </button>
  </div>
</div>
<div class="collapse" *ngIf="items.length">
  <button (click)="collapse()">
    {{ collapsed ? "SHOW LESS" : "COLLAPSE" }}
  </button>
</div>
<div class="result" *ngIf="items.length && collapsed">
  <ul class="result__item" *ngFor="let item of items">
    <li class="name">
      <div>
        <h4>item</h4>
        <p>{{ getMedicineName(item.name) }}</p>
      </div>
    </li>
    <li>
      <div class="stat">
        <h4>status</h4>
        <p class="status" [ngStyle]="item.active ? activeStyle : inactiveStyle">
          {{
            item.active
              ? ("activated" | uppercase)
              : ("inactivated" | uppercase)
          }}
        </p>
      </div>
    </li>
  </ul>
</div>
