button {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
/* .outlet__navigation {
  height: 6%;
  background-color: lightgrey;
} */
.outlet__content {
  height: 100%;
  overflow-y: scroll;
  flex: 1 1 30%;
}
.for {
  flex: 0 1 40%;
  background-color: azure;
}
.pre {
  flex: 0 1 60%;
  background-color: cornsilk;
}
.outlet__content::-webkit-scrollbar {
  display: none;
}
.allx {
  height: 100%;
}
.all {
  display: flex;
  height: 100%;
}
.cont {
  height: 90%;
  padding: 1rem;
  border: 1px solid lightblue;
  overflow-y: scroll;
}
.cont::-webkit-scrollbar {
  display: none;
}
.heading,
.submit {
  height: 5%;
}
.heading__content {
  text-align: center;
}
.submit button {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.formgroup {
  width: 70%;
  margin: 0.5rem auto;
}
input,
select {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  border: 1px solid lightblue;
}
