<div class="notall" *ngIf="option != 'all'">
  <div class="outlet__navigation">
    <ul class="navigation">
      <li
        *ngFor="let item of ['dispense', 'request', 'issue']"
        class="navigation__item"
      >
        <button [class.selected]="option == item" (click)="setActivity(item)">
          {{ item }}
        </button>
      </li>
    </ul>
  </div>
  <div class="outlet__content">
    <app-dispense *ngIf="option == 'dispense'" [outlet]="outlet"></app-dispense>
    <app-issue *ngIf="option == 'issue'" [host]="outlet"></app-issue>
    <app-request [outlet]="outlet" *ngIf="option == 'request'"></app-request>
  </div>
</div>
<div class="all" *ngIf="option == 'all'">
  <h2>clinic: {{ outlet }}</h2>
  <h3>select an activity:</h3>
  <ul class="linear_navigation">
    <li
      *ngFor="let item of ['dispense', 'request', 'issue']"
      class="navigation__item"
    >
      <button (click)="setActivity(item)">{{ item }}</button>
    </li>
  </ul>
</div>
