<div class="router__container">
  <nav class="secondary__navigation">
    <h3>summary statistics</h3>
    <ul class="navigation__list">
      <li class="navigation__list__item">
        <a routerLink="/statistics/summary">site statistics</a>
      </li>
    </ul>
    <h3>clinic statistics</h3>
    <ul class="navigation__list">
      <li class="navigation__list__item" *ngFor="let store of stores">
        <a [routerLink]="genLink(store.name)">{{ store.name }}</a>
      </li>
    </ul>
  </nav>
  <div class="router__outlet">
    <router-outlet></router-outlet>
  </div>
</div>
