<div class="main__container loader__container">
  <div class="loader" *ngIf="loading">
    <app-loader [message]="message"></app-loader>
  </div>
  <div class="app loader__other">
    <div class="download">
      <div class="date formgroup">
        <input id="date" type="date" [(ngModel)]="date" />
      </div>
      <div class="search formgroup" *ngIf="!date.length">
        <input
          disabled=""
          id="clinic"
          list="stores"
          [(ngModel)]="clinic"
          (input)="search()"
          placeholder="select store"
        />
        <datalist id="stores">
          <option [value]="store.name" *ngFor="let store of stores">
            {{ store.name }}
          </option>
        </datalist>
      </div>
      <div class="search formgroup" *ngIf="date.length">
        <input
          id="clinic"
          list="stores"
          [(ngModel)]="clinic"
          (input)="search()"
          placeholder="select store"
        />
        <datalist id="stores">
          <option [value]="store.name" *ngFor="let store of stores">
            {{ store.name }}
          </option>
        </datalist>
      </div>
      <div class="csv">
        <button (click)="clear()">CLEAR SEARCH</button>
      </div>
      <div class="csv" *ngIf="generated">
        <button (click)="downloadCSV()">DOWNLOAD CSV</button>
      </div>
      <div class="pdf" *ngIf="generated">
        <button (click)="downloadPDF()">DOWNLOAD PDF</button>
      </div>
    </div>
    <div class="report" *ngIf="generated">
      <div class="report__heading">
        <h1>
          {{ clinic | uppercase }} {{ "dispense report" | uppercase }}
          {{ report_date | uppercase }}
        </h1>
      </div>
      <div class="report__content">
        <div class="report__item" *ngFor="let d of dispensed">
          <ul class="list">
            <li class="list__item">
              <div class="list__item__content">
                <h5>item</h5>
                <p>{{ d.commodity }}</p>
              </div>
            </li>

            <li class="list__item">
              <div class="list__item__content">
                <h5>unit</h5>
                <p>{{ d.unit }}</p>
              </div>
            </li>

            <li class="list__item">
              <div class="list__item__content">
                <h5>dispensed</h5>
                <p>{{ d.quantity }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
