<div class="app">
  <header>
    <div class="title">
      <h1>
        <span><fa-icon [icon]="faHouse"></fa-icon></span> stigoRX
        <a href="https://stigorx.onrender.com"
          ><span><fa-icon [icon]="faRefresh"></fa-icon></span
        ></a>
      </h1>
    </div>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/admin/medicine/create"
            #admin
            (click)="select(admin)"
            [class.selected]="admin == selected"
            >admin</a
          >
        </li>
        <li>
          <a
            routerLink="/outlet/dispense"
            #outlets
            (click)="select(outlets)"
            [class.selected]="outlets == selected"
            >outlets</a
          >
        </li>
        <li [class.selected]="statistics == selected">
          <a
            routerLink="/statistics/summary"
            #statistics
            (click)="select(statistics)"
            >statistics</a
          >
        </li>
        <li [class.selected]="orders == selected">
          <a routerLink="/orders/view" #orders (click)="select(orders)"
            >orders</a
          >
        </li>
        <li [class.selected]="backdate == selected">
          <a routerLink="/backdate" #backdate (click)="select(backdate)"
            >BACK-DISPENSE</a
          >
        </li>
        <li [class.selected]="backdateIssue == selected">
          <a
            routerLink="/backdate/issue"
            #backdateIssue
            (click)="select(backdateIssue)"
            >BACK-ISSUE</a
          >
        </li>
      </ul>
    </nav>
    <div class="avatar">
      <p><fa-icon [icon]="faPerson"></fa-icon> kija mnada</p>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <h6>powered by tanprograma&copy; {{ year }}</h6>
  </footer>
</div>
<!-- <div class="outlet">
    <router-outlet></router-outlet>
  </div> -->
