<div class="dispense x-container">
  <div class="x-loader" *ngIf="loading">
    <app-loader [message]="'loading resources'"></app-loader>
  </div>
  <div class="header">RECEIVING TRANSACTIONS</div>
  <div class="form">
    <div class="formheader">
      <h2>RECEIVE FORM</h2>
    </div>
    <div class="formitems">
      <div class="formgroup">
        <label for="date">date</label>
        <input
          id="date"
          name="date"
          type="date"
          #d
          (input)="setDate(d.value)"
        />
      </div>
      <div class="formgroup">
        <label for="supplier">SUPPLIER</label>
        <select name="supplier" id="supplier" [(ngModel)]="client">
          <option *ngFor="let _supplier of suppliers" [value]="_supplier.name">
            {{ _supplier.name }}
          </option>
        </select>
      </div>
      <div class="formgroup">
        <label for="outlet">STORE</label>
        <input
          list="stores"
          name="client"
          id="client"
          [(ngModel)]="outlet"
          (input)="getInventoryByStore()"
          autocomplete="off"
        />
        <datalist id="stores">
          <option *ngFor="let _outlet of stores" [value]="_outlet.name">
            {{ _outlet.name }}
          </option>
        </datalist>
      </div>
      <div class="formgroup">
        <label for="medicine">MEDICINE</label>
        <input
          id="medicine"
          list="medicines"
          #y
          [(ngModel)]="medicine"
          (input)="getAvailable()"
          autocomplete="off"
        />
        <datalist id="medicines">
          <option *ngFor="let _medicine of medicines" [value]="_medicine.name">
            {{ _medicine.name }}
          </option>
        </datalist>
      </div>
      <div class="formgroup">
        <label for="quantity">QUANTITY</label>
        <input id="quantity" type="number" [(ngModel)]="requested" />
      </div>
      <div class="formgroup" *ngIf="y.value.length">
        <div class="available">
          <p>available {{ available ? available : 0 }}</p>
        </div>
      </div>
      <div class="formgroup">
        <label for="unit">UNIT</label>
        <input id="unit" #unit type="text" [value]="'each'" disabled />
      </div>

      <div class="formgroup">
        <button class="submit" (click)="add()">ADD TO RECEIVED</button>
      </div>
    </div>
  </div>
  <div class="items__container">
    <div class="head">
      <h2 class="head__content">
        REQUEST ({{ payloads.length }})
        <span *ngIf="uploaded.length">UPLOADED ({{ uploaded.length }})</span>
        <span>ISSUED: ({{ dispensed }})</span>
      </h2>
    </div>
    <div class="items">
      <div class="item" *ngFor="let i of payloads">
        <ul>
          <li>
            <h3>supplier</h3>
            <p>{{ client }}</p>
          </li>

          <li>
            <h3>medicine</h3>
            <p>{{ i.commodity }}</p>
          </li>
          <li>
            <h3>unit</h3>
            <p>each</p>
          </li>
          <li>
            <h3>quantity</h3>

            <p>
              <input
                type="number"
                name=""
                id=""
                [(ngModel)]="i.payload.quantity"
              />
            </p>
          </li>
          <li>
            <!-- <h3>quantity</h3> -->

            <p>
              <button (click)="delete(i)">DELETE</button>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="dispense">
      <button class="submit" (click)="dispense()">
        SUBMIT RECEIVE REQUEST
      </button>
    </div>
  </div>
</div>
