<div class="x-container">
  <div class="x-loader" *ngIf="loading">
    <app-loader [message]="message"></app-loader>
  </div>
  <div class="x-item">
    <div class="dispense">
      <div class="form form-color">
        <div class="formheader"><h2>ADD MEDICINE</h2></div>
        <div class="formitems">
          <div class="formgroup">
            <label for="client">medicine</label>
            <input list="medicines" [(ngModel)]="prescription.name" uppercase />
            <datalist id="medicines">
              <option *ngFor="let med of medicines" [value]="med.name">
                {{ med.name }}
              </option>
            </datalist>
          </div>
          <div class="formgroup">
            <label for="unit">unit</label>
            <input
              id="unit"
              list="units"
              [(ngModel)]="prescription.unit"
              uppercase
              autocomplete="off"
            />
            <datalist id="units">
              <option *ngFor="let unit of units" [value]="unit.name">
                {{ unit.name }}
              </option>
            </datalist>
          </div>
          <div class="formgroup">
            <label for="unit_value">unit value</label>
            <input
              id="unit_value"
              type="number"
              [(ngModel)]="prescription.unit_value"
              uppercase
            />
          </div>
          <div class="formgroup">
            <button class="submit" (click)="add()">CREATE MEDICINE</button>
          </div>
        </div>
      </div>
      <div class="items__container preview-color">
        <div class="head">
          <h2 class="head__content">
            <span>AVAILABLE MEDICINE: ({{ medicines.length }})</span> CREATED
            MEDICINE: ({{ items.length }})
          </h2>
        </div>
        <div class="items">
          <div class="item" *ngFor="let i of items">
            <ul>
              <li>
                <h3>medicine</h3>
                <p>{{ i.name }}</p>
              </li>

              <li>
                <h3>status</h3>
                <p>added</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
