<div [class.form]="menuState">
  <div class="formgroup">
    <button (click)="toggleStatistics()">
      <fa-icon [icon]="faBars"></fa-icon> SELECT STATISTIC
      <span class="left">
        <fa-icon [icon]="statisticsbox ? faAngleUp : faAngleDown"></fa-icon>
      </span>
    </button>
  </div>

  <div class="formgroup">
    <div class="form inner-form" *ngIf="statisticsbox">
      <div class="formgroup" *ngFor="let stat of statistics">
        <button (click)="setStatistic(stat)">
          {{ stat | uppercase }}
        </button>
      </div>
    </div>
  </div>
  <div class="formgroup">
    <button (click)="toggleFilters()">
      <fa-icon [icon]="faFilter"></fa-icon>FILTER DATA
      <span class="left"
        ><fa-icon [icon]="filtersbox ? faAngleUp : faAngleDown"></fa-icon
      ></span>
    </button>
  </div>
  <div class="formgroup">
    <div class="form inner-form" *ngIf="filtersbox">
      <div class="formgroup">
        <button
          [class.timefilter]="durationFilter == todayTime"
          (click)="todayFilter()"
        >
          TODAY
        </button>
      </div>
      <div class="formgroup">
        <button
          [class.timefilter]="durationFilter == allTime"
          (click)="allTimeFilter()"
        >
          ALL TIME
        </button>
      </div>

      <div class="formgroup">
        <button
          [class.timefilter]="durationFilter == anyTime"
          (click)="toggleSearch()"
        >
          FILTER BY DATE
        </button>
      </div>
      <div class="formgroup">
        <div class="form inner-form" *ngIf="searchbox">
          <div class="formgroup">
            <label for="">start date</label>
            <input type="date" [(ngModel)]="startDate" />
          </div>
          <div class="formgroup">
            <label for="">end date</label>
            <input type="date" [(ngModel)]="endDate" />
          </div>
          <div class="formgroup">
            <button (click)="filterDate()">FILTER</button>
          </div>
        </div>
      </div>
      <div class="formgroup">
        <button (click)="toggleQuantity()">FILTER BY QUANTITY</button>
      </div>
      <div class="formgroup">
        <div class="form inner-form" *ngIf="quantitybox">
          <div class="formgroup">
            <button (click)="getGt()">&gt; ZERO</button>
          </div>
          <div class="formgroup">
            <button (click)="getLt()">&lt;= ZERO</button>
          </div>
          <div class="formgroup">
            <button (click)="clearQuantityFilter()">CLEAR FILTER</button>
          </div>
        </div>
      </div>
      <div class="formgroup">
        <button (click)="toggleItem()">FILTER BY ITEM</button>
      </div>
      <div class="formgroup">
        <div class="form inner-form" *ngIf="itembox">
          <div class="formgroup">
            <label for="medicine">filter medicine</label>
            <input
              id="medicine"
              list="medicines"
              placeholder="e.g amoxiclav"
              [(ngModel)]="medicine"
              (input)="filterProduct()"
              autocomplete="off"
            />
            <datalist id="medicines">
              <option *ngFor="let i of medicines" [value]="i.name">
                {{ i.name }}
              </option>
            </datalist>
          </div>
          <div class="formgroup">
            <button (click)="clearProductFilter()">CLEAR FILTER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
