<div class="dispense">
  <div class="dispense__form">
    <div class="heading">
      <h3 class="heading__content">CREATE PRESCRIPTION</h3>
    </div>
    <div class="form">
      <app-issue-form
        [outlet]="outlet"
        [(prescription)]="prescription"
      ></app-issue-form>
    </div>
  </div>
  <div class="dispense__prescription">
    <div class="heading">
      <h3 class="heading__content">ITEMS IN PRESCRIPTION</h3>
    </div>
    <div class="prescription">
      <app-prescription [request]="prescription"></app-prescription>
    </div>
    <div class="submit">
      <button (click)="createDispensed()">SAVE PRESCRIPTION</button>
    </div>
  </div>
</div>
