.dispense {
  background-color: white;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header {
  flex: 0 0 100%;
  height: 8%;
  text-align: center;
}
.form {
  display: block;

  background-color: rgb(246, 243, 243);
  flex: 0 0 calc(100% * (1 / 3));
  height: 92%;
}
.formheader {
  height: 7%;
}
.formitems {
  height: 93%;
}
.formgroup {
  color: rgb(108, 104, 104);
  width: 95%;
  margin: 0.2rem auto 0.5rem;

  border-radius: 5px;
}
.formitems .submitted {
  position: relative;
  top: 5rem;
}
.submitted button {
  background-color: grey;
  border: 0;
}
label,
input,
.available,
select,
.submit {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2rem;
}
.available {
  background-color: white;
  text-align: center;
}
button {
  cursor: pointer;
}
label {
  height: 1.5rem;
  padding: 0;
}
.submit {
  height: 2rem;
  margin-top: 0.2rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}
input[type="number"] {
  text-align: center;
}
input,
.available,
select {
  height: 2rem;
  margin-bottom: 0.2rem;

  width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(202, 199, 196, 0.5);
}
.items__container {
  display: block;
  background-color: rgb(244, 243, 243);
  flex: 0 0 calc(100% * (2 / 3));
  height: 92%;
}
/* .items__container .submit {
  width: 80%;
} */
.head {
  height: 7%;
  background-color: rgb(238, 229, 217);
}
.head__content {
  text-align: center;
}
.items {
  height: 93%;
  overflow-y: scroll;
}
.item {
  color: rgb(108, 104, 104);
  width: 80%;
  margin: 0.2rem auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 199, 196, 0.5);
}
.items::-webkit-scrollbar {
  display: none;
}
/* styles for prescription items */
.item ul {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  text-align: left;
  flex: 1 1 auto;
}

li:nth-child(1) {
  flex: 0 0 20%;
}
li:nth-child(2) {
  flex: 0 0 50%;
}
h2 {
  font-weight: normal;
}
h2 span {
  font-weight: 600;
}
