label,
button,
select,
input {
  display: block;
}
input,
label,
select,
button {
  margin: 0.5rem auto;
  width: 90%;
  height: 5vh;
  border-radius: 5px;
}
button {
  background-color: black;
  color: white;
}
button:hover {
  background-color: rgb(117, 227, 117);
  color: white;
}
.result,
.collapse {
  border: 1px solid lightgray;
  width: 90%;
  margin: 0.5rem auto;
  padding: 5px;
  border-radius: 5px;
}
.result {
  max-height: 40vh;
  overflow-y: scroll;
}
.result::-webkit-scrollbar {
  display: none;
}
.collapse button {
  margin-right: 0;
  width: auto;
  background-color: black;
  color: white;
}
.result__item {
  border: 1px solid lightblue;
  display: flex;
  margin: 0.1rem 0;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}
.name {
  flex: 0 0 30%;
}
.stat {
  flex: 0 0 10%;
}
.status {
  background-color: lightgreen;
}
