.dropdown {
  position: relative;
  width: 100%;
}
.dropdown__title,
.dropdown__list {
  min-width: 50%;
}
.dropdown__list {
  position: absolute;
  background-color: lightgrey;
  display: none;
}
.dropdown__item {
  background-color: black;
  color: white;
  margin: 2px 0;
  width: 100%;
}
.dropdown__item a {
  display: block;
  width: 100%;
}
.dropdown__item:hover {
  background-color: dodgerblue;
}
.dropdown:hover .dropdown__list {
  display: block;
  width: 100%;
}
