.x-item {
  background-color: white;
  flex-wrap: wrap;
}
.statistic-form {
  flex: 0 0 25%;
  height: 92%;
}
.not-statistic-form {
  display: none;
}
.display {
  flex: 0 0 0%;
}
.statistic-view {
  height: 92%;
  flex: 1 1 75%;
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow-y: scroll;
}
.statistic-view::-webkit-scrollbar {
  display: none;
}
.x-header {
  height: 8%;
  flex: 0 0 100%;
  border-bottom: 1px solid lightgray;
}
@media print {
  .statistic-form {
    display: none;
  }
  .statistic-view {
    height: auto;
    flex: 1 1 100%;
    border-left: 0;
    border-right: 0;
  }
}
