<div class="x-container">
  <div class="x-loader" *ngIf="loading">
    <app-loader [message]="'fetching statistics..'"></app-loader>
  </div>
  <div class="x-item x-item-flex">
    <div class="x-header">
      <app-statistic-header
        [title]="getHeading(title) | uppercase"
        (onPrintPDF)="printPDF($event)"
        [(menuState)]="menuState"
      ></app-statistic-header>
    </div>
    <div
      [class.statistic-form]="menuState"
      [class.not-statistic-form]="!menuState"
    >
      <app-statistic-form-clinic
        [medicines]="medicines"
        [menuState]="menuState"
        [outlets]="stores"
        (onFilterStore)="filterStore($event)"
        (onFilterDate)="filterDate($event)"
        [statistics]="statistics"
        (onSetStatistic)="setStatistic($event)"
        (onGetAll)="getAll($event)"
        (onGetGt)="getGt($event)"
        (onGetLt)="getLt($event)"
        (onClearQuantityFilter)="clearQuantityFilter($event)"
        (onGetDispensed)="getDispensed($event)"
        (onGetReceived)="getReceived($event)"
        (onGetIssued)="getIssued($event)"
        (onFilterProduct)="filterProduct($event)"
        (onClearMedicineFilter)="clearProductFilter($event)"
      ></app-statistic-form-clinic>
    </div>
    <div class="statistic-view">
      <app-statistics-clinic-view
        [display]="display"
        [item]="i"
        *ngFor="let i of cleanedStatistics"
      ></app-statistics-clinic-view>
    </div>
  </div>
</div>
