/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 1.8rem;
}
body {
  margin: 0 0.5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

/* styles for the container for loader and loader__other */
.x-container {
  height: 100%;
  width: 100%;
  background-color: brown;
  position: relative;
}
.x-item {
  height: 100%;
  width: 100%;
  position: relative;
}
.x-item-flex {
  display: flex;
}
.x-loader {
  height: 100%;
  width: 100%;
  position: absolute;

  z-index: 1;
}
/* styles for the container for loader and loader__other */
.router__container {
  height: 100%;

  display: flex;
}
.router__outlet {
  flex: 0 0 75%;
  height: 100%;
}
.secondary__navigation {
  flex: 0 0 25%;
  background-color: aqua;
  height: 100%;
  overflow-y: scroll;
}
.secondary__navigation::-webkit-scrollbar {
  display: none;
}
.navigation__list {
  width: 70%;
  /* height: 60%; */
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.navigation__list__item {
  margin: 0.5rem auto;

  width: 85%;
  height: 2rem;
}
/* form styles */
.form {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.form::-webkit-scrollbar {
  display: none;
}
.formgroup {
  width: 95%;
  margin: 0.2rem auto;
}
.form input,
.form select,
.form button,
.form section-head,
.form label {
  display: block;
  width: 100%;
  height: 2rem;
  margin-top: 0.1rem 0;
  border-radius: 3px;
}
.form input,
.form select,
.form button {
  border: 1px solid lightgrey;
}
input::placeholder {
  text-align: center;
}
/* styles for statistic container */
.statistic {
  height: 100%;
  overflow-y: scroll;
}
.statistic::-webkit-scrollbar {
  display: none;
}
@media print {
  .statistic {
    height: auto;
  }
}
/* styles for statistic container */
/* color for forms and preview */
.form-color {
  background-color: rgb(246, 243, 243);
}
.preview-color {
  background-color: rgb(244, 243, 243);
}
/* color for forms and preview */
.alarm {
  background-color: rgba(167, 30, 30, 0.3);
  color: black;
}
.formgroup button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
/* code for advert */
.advert {
  height: 100%;
}
/* code for box shadow */
.shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input,
select,
button {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
input:hover,
select:hover {
  border: 2px solid dodgerblue;
}
button:hover {
  background-color: black;
  color: white;
}
